# Xcode
*.xcodeproj/
*.xcworkspace/
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/*/Package.resolved
Package.resolved

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
.vscode/
